<section id="carousel">
  <div class="center-img">
    <!-- Use javascript to change image -->
    <img id="carousel-img" src="images/445-800x450.jpg" />

  <div id="carousel-nav">
    <button class="next-img" id="btn-left">&#10094;</button>
    <button class="select-img" id="img1"></button>
    <button class="select-img" id="img2"></button>
    <button class="select-img" id="img3"></button>
    <button class="next-img" id="btn-right">&#10095;</button>
  </div>
  </div>
  <script src="scripts/carousel.js"></script>
</section>
