<header>
  <nav class="menu">
    <ul class="menu-list">
      <li class="menu-item active" id="menu-home"><a href="/">Home</a></li>
      <li class="menu-item" id="menu-assets">
        <a href="/my-assets">My Assets</a>
      </li>
      <li class="menu-item" id="menu-performance">
        <a href="/performance">Funds Performance</a>
      </li>
      <li class="menu-item" id="menu-about"><a href="/about">About</a></li>
    </ul>
  </nav>
</header>