<section id="getQuote"><div class="quoteInput">
  <h2>Get a quick stock quote</h2>
  <form action="/" method="POST">
    <input type="text" name="stockSymbol" placeholder="stock symbol">
    <input type="submit" value="Submit">
  </form>
</div>
  <div class="quoteOutput">
  <h3>Quick Stock Quotes</h3>
  <ul>
    {{#each stocks}}
      <li>The current price of <span id="displayStockSymbol">{{stockSymbol}}</span> is {{stockData}}</li>
    {{/each}}
  </ul>
</div>
</section>