{{>menu}}
<div id="aboutBody">
  <h1>About</h1>
  <img id="aboutImage" src="images/stonks.png" alt="What's Going On?">
  <p class="source">Image source Twitter: https://twitter.com/dow_stonks/status/1288565991287316480/photo/1</p>
  <p>
    Using "Did I Beat the Market", you can decide if you are a good enough investor to actually beat the stock market.
    There is a simple way to determine whether or not you beat the market:
  </p>
  <ul>
    <li>Look at the performance of your own portfolio over a specified date range.</li>
    <li>Look at the performance of the S&P 500, a broad-based market index, in that specified date range.</li>
    <li>Compare your own portfolio to the S&P 500 over that date range.</li>
    <li>If your portfolio is worth more than the equivalent amount invested in the S&P 500 over that date range, you beat
    the market.</li>
    <li>If your portfolio is worth less than the equivalent amount invested in the S&P 500 over that date range, you
    would have been better off investing in the S&P 500 than whatever it is you did.</li>
  </ul>
  <p>
    A lot of people claim that investing in stocks is a great way to get rich. Over the long run,
    <a href="https://www.getrichslowly.org/best-long-term-investment/">they are right</a>. However, it's easy to
    micromanage your investments to the point where you lose money relative to the market. This is especially true if you
    account for the management fees that managed funds might charge.
  </p>
  <p>
    So don't be a chump, living in blissful but poor ignorance. Check and see if <a href="/my-assets">you beat the
    market!</a>
  </p>
  <p>
  For more information, download this guide from <a href="https://www.vanguard.com/">Vanguard</a>.
</p>
  <div class="downloadBtnArea">
    <button class="downloadBtn" type="submit" onclick="window.open('files/investment-fundamentals-guide.pdf')">
      Download guide!
    </button>
  </div>
  <p>
    Stock data is from Alpha Vantage API.
    <a href="https://www.alphavantage.co/documentation/">Here</a> is the documentation.
    Click the button to download a sample of stock data.
  </p>
  <div class="downloadBtnArea">
    <button class="downloadBtn" type="submit" onclick="window.open('files/daily_IBM.csv')">
      Download data!
    </button>
  </div>
</div>