<section id="getStockPrice">
  <h2>GET Stock Price</h2>
  <form id="getStockForm">
    <fieldset>
      <legend>Search stock symbol</legend>
      <label for="stockSymbol">
        Stock symbol:
        <input type="text" name="stockSymbol" id="stockSymbol" />
      </label>
      <input type="submit" id="submit1" />
    </fieldset>
  </form>
  <p id="stockPrice"></p>
</section>