{{>menu}}
<h1>Did a Fund Beat the Market?</h1>
<h3>Select one or more funds</h3>
<form id="select-funds-form" action="/performance" method="POST" name="fundsForm">
  <select form="select-funds-form" id="select-funds" name="funds" multiple>
    <optgroup label="Large Blend">
      <option value="SPY">SPDR S&P 500 ETF (SPY)</option>
      <option value="IWB">iShares Russell 1000 ETF (IWB)</option>
      <option value="VTI">Vanguard Total Stock Market Index Fund ETF (VTI)</option>
      <option value="SCHX">Schwab US Large-Cap ETF (SCHX)</option>
    </optgroup>
    <optgroup label="Large Growth">
      <option value="QQQ">Invesco QQQ Trust (QQQ)</option>
      <option value="IWF">iShares Russell 1000 Growth ETF (IWF)</option>
      <option value="SPYG">SPDR® Portfolio S&P 500 Growth ETF (SPYG)</option>
      <option value="SCHG">Schwab U.S. Large-Cap Growth ETF (SCHG)</option>
    </optgroup>
    <optgroup label="Mid-Cap Blend">
      <option value="IWR">iShares Russell Mid-Cap ETF (IWR)</option>
      <option value="MDY">SPDR® S&P MIDCAP 400 ETF Trust (MDY)</option>
      <option value="VO">Vanguard Mid-Cap Index Fund ETF (VO)</option>
      <option value="REGL">ProShares S&P MidCap 400 Dividend Aristocrats ETF (REGL)</option>
    </optgroup>
    <optgroup label="Commodities">
      <option value="GLD">SPDR Gold Shares (GLD)</option>
      <option value="DBC">Invesco DB Commodity Index Tracking Fund (DBC)</option>
      <option value="SLV">iShares Silver Trust (SLV)</option>
      <option value="USO">United States Oil Fund, LP (USO)</option>
    </optgroup>
  </select>
  <br>
  <input id="submit-funds" type="submit" value="See Chart(s)">
</form>
{{#each funds}}
<div>{{>chart symbol=name}}</div>
{{/each}}