* {
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 14pt;
  color: #333;
  background-color: white;
}

header {
  background-color: forestgreen;
}

p,
li {
  padding: 0.4em 0;
  line-height: 1.3em;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  margin: 20px;
  color: forestgreen;
}

a {
  color: forestgreen;
}

footer {
  text-align: center;
  background-color: slategray;
}

.source {
  font-size: 10pt;
}
/* MENU BAR */
.menu {
  padding: 15px 15px 15px 0;
}

.menu-list {
  padding: 0;
  display: flex;
  list-style: none; /* removes bullets from list */
}

.menu-item {
  display: inline; /* menu items horizontal */
  line-height: 1em;
  padding: 0;
}

.menu-item a {
  color: white;
  text-decoration: none; /* menu links not underlined */
  padding: 20px;
}

.menu-item a:hover,
a.active {
  background-color: white;
  color: black;
}

/* CAROUSEL */
.center-img,
#carousel-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#carousel-nav {
  padding: 5px 0;
}

.select-img {
  background-color: darkgreen;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.select-img:hover,
.next-img:hover {
  background-color: limegreen;
}

.next-img {
  background-color: darkgreen;
  color: white;
  height: 30px;
  width: 20px;
}
.center-img {
  max-width: 800px;
  width: 800px;
  height: 450px;
  margin: auto;
  overflow: hidden;
}

/* QUICK QUOTE */
#getQuote {
  background-color: slategray;
  color: white;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 1em 0 2em;
  justify-content: center;
}

#getQuote h2,
#getQuote h3 {
  color: white;
  padding: 0.1em 0 0.1em;
}

.quoteInput,
.quoteOutput {
  align-items: center;
  padding: 0.5em;
}

.quoteOutput {
  color: #ddd;
}

.quoteOutput li {
  padding: 0.2em 0em 0.3em;
  color: #ddd;
}

.quoteOutput ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.quoteInput h2 {
  padding-bottom: 0.5em;
}

#displayStockSymbol {
  text-transform: uppercase;
}

/* MY ASSETS */
table,
td,
th {
  border: 1px solid whitesmoke;
  border-collapse: collapse;
  padding: 0.5em;
  margin: 0;
}

table {
  max-width: 800px;
  margin: 0 auto 0;
}

#enterMyAssets ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#enterMyAssets {
  margin: 1.2em auto 0.3em;
  max-width: 800px;
}

#myAssetInput {
  padding: 1em 3em 2em;
  text-align: center;
  align-items: center;
}

#myAssetInput p,
#myAssetInput li {
  text-align: center;
  padding: 0.3em 0em 0.2em;
}

#myAssetResultArea {
  background-color: lightslategray;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1.5em 0em 1.5em;
}

#myAssetResultArea * {
  color: white;
}

#submitMyAssets,
#submit-funds,
.downloadBtn {
  color: white;
  background-color: green;
  height: 2em;
  min-width: 15em;
  font-size: 1.2em;
  border-radius: 0.5em;
  padding: 0;
  margin: 0;
}

.resultImage,
#aboutImage {
  width: 800px;
  margin: auto;
}

/* SCROLL BOX */
#select-funds {
  height: 200px;
  width: fit-content;
  display: flex;
  margin: auto;
  overflow-y: scroll;
  border: medium solid #50754e;
  padding: 0.3em;
}

#select-funds option {
  padding: 0.1em;
  font-size: 11pt;
}

optgroup {
  font-size: 12pt;
}

#submit-funds {
  display: flex;
  margin: auto;
  padding: 10px;
}

/* ABOUT */
#aboutBody {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0 2em;
}

.downloadBtnArea {
  display: flex;
  justify-content: center;
}
