* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

header {
  background-color: darkgreen;
}

h1 {
  text-align: center;
  margin: 20px;
}

/* MENU BAR */
.menu {
  padding: 20px 20px 20px 0;
}

.menu-list {
  display: flex;
  list-style: none; /* removes bullets from list */
}

.menu-item {
  display: inline; /* menu items horizontal */
}

.menu-item a {
  color: white;
  text-decoration: none; /* makes menu links not underlined */
  /*padding: 20px;*/
}

a {
  padding: 20px;
}

.menu-item a:hover,
a.active {
  background-color: white;
  color: black;
}

/* CAROUSEL */
.center-img,
#carousel-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#carousel-nav {
  padding-top: 5px;
}

.select-img {
  background-color: darkgreen;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.select-img:hover,
.next-img:hover {
  background-color: limegreen;
}

.next-img {
  background-color: darkgreen;
  color: white;
  height: 30px;
  width: 20px;
}
